.hyvortalk-widget ul.hyvortalk-widget-list {
    padding: 0;
    margin: 0;
    text-align: left;
}

.hyvortalk-widget img{
    max-width: 25%;
    display: block;
}

.hyvortalk-widget ul.hyvortalk-widget-list li.hyvortalk-widget-item {
    padding: 0.3em;
}


li.hyvortalk-widget-item {
    margin: 15px 0;
    list-style-type: none;
    clear: both;
}

img.hyvortalk-widget-avatar {
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 0px;
    padding: 0px 3px 3px 0px;
    float: left;
}

p.hyvortalk-widget-meta {
    clear: both;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

