{% if hyvor_talk_load_mode == 'click' %}
<button id="hyvor-talk-load-button">{{ 'Load comments'|trans }}</button>
{% endif %}
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
  var HYVOR_TALK_WEBSITE = {{ hyvor_talk_website_id }};
  var HYVOR_TALK_CONFIG = {
    url: false,
    id: {{ nid }},
    loadMode: '{{ hyvor_talk_load_mode }}',
    language: '{{ lang }}',
    {% if hyvor_talk_load_mode == 'click' %}
      clickId: "hyvor-talk-load-button",
    {% endif %}
    {% if hyvor_talk_sso_enabled == 1  %}
      sso: {
        hash: "{{ hyvor_talk_sso_hash }}",
        userData: "{{ hyvor_talk_sso_user_data }}",
        loginURL: "{{ url('<front>') }}user/login",
        signupURL: "{{ url('<front>') }}user/register"
     }
    {% endif %}

  };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed.js"></script>