<script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
<hyvor-talk-comments website-id="{{ hyvor_talk_website_id }}" page-id="{{ nid }}" page-language="{{ lang }}" loading="{{ hyvor_talk_load_mode }}"></hyvor-talk-comments>

<!--
loading	Accepts default, lazy, and manual
-->